[Unit]
Description=Mount unit for amazon-ssm-agent, revision 734
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/amazon-ssm-agent_734.snap
Where=/snap/amazon-ssm-agent/734
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
